input{
    border: none;
    border-bottom:2px solid green;
    padding: 5px 10px;
    margin-bottom: 8px;
    /* display: block; */
    /* width: 100%; */
}

input:focus{
    outline: none;
}
label{
    font-size: 18px;
    font-weight: bold;
    margin: 4px;
}
.addTodoInput{
    display: flex;
    flex-direction: column;
    width:385px; 
    padding-left: 20px;

}

.addDate{
    margin: 20px 0;
    padding-left: 20px;
}

.addTime{
    margin-bottom:20px;
    padding-left: 20px;
}
.chooseProject{
    margin-bottom: 40px;
    padding-left: 20px;
}
.chooseProject .projects {
    display: flex;
    
}
.chooseProject .projects .project{
     margin: 5px;
     border: 1px solid firebrick;
 
     padding: 7px 5px;
     border-radius: 2px;
     text-transform: capitalize;
}
.submitBtn{
    
   
    display: flex;
    justify-content: center;
    

    
}
.submitBtn button{
    width: 100%;
    border: none;
    font-size: 20px;
    background-color: brown;
    color: white;
    padding: 5px 0;

    
   
}

